# EditorConfig ajuda desenvolvedores a definir e manter estilos de codificação consistentes entre diferentes editores e IDEs.

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
# Regras específicas para Python
max_line_length = 88

[*.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false